:root {
    --main-bg: #E6ECF0;
    --link-color: #3B94D9;
    --main-link-color: #848487;
    --light-bg: #FFF;
    --separator-color: #DDD;
}
* {
    box-sizing: border-box;
}
body, html {
    background-color: lightgray;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
header {
    background-image: url("https://loremflickr.com/1200/300");
    background-size: cover;
    min-height: 300px;
    padding-top: 275px;
}
a {
    color: var(--link-color);
}

.nav-item{
    padding: 1.5em;
    float: left;
    /* was suppposed to put inline-block to have the nav bar text line up side by side*/
}

.top-nav {
    background: var(--light-bg);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin: 0;

}
.nav-link {
    color: var(--main-link-color);
    font-weight: bold;
    text-decoration: none;
}
.nav-link:hover {
    color: var(--link-color);
}
.profile {
    background: var(--light-bg);
    height: 60px;
}


.profile-form{
    float: right;
/* was supposed to add line-height: 80px;  */
}

.profile-image{
    position: absolute;
    top: 220px;
    /* top was supposed to be 240px */
}

.profile-details{
    width: 25%;
    top: 0px;
    bottom: 0px;
    margin: .5em;
    float: left;
} /* wanted me to do margin: 0 .5em; and add
.profile-details,who-to-follow{
width: calc(25% - 1em)
}*/

.profile-entry{
    margin: .5em;
}

.timeline{
    width: 45%;
    top: 0px;
    bottom: 0px;
    margin: .5em;
    float: left;
}

.who-to-follow{
    width: 25%;
    top: 0px;
    bottom: 0px;
    margin: .5em;
    float: left;
}

.media{
    width: 100%;
    background-color: white;
    border-bottom: 1px black;
    padding: .5em;
    overflow: auto;
} /*background color was supposed to be var(--light-bg);
border-bottom was supposed to look like thid 1px solid var(seperator-color)
overflow: auto; was correct!
*/

.media-image{
    width: 50px;
    border: 1px solid black;
    margin-top: 1.33em;
    float: ;
}/*didnt need border AT ALL
float supposed to be left
*/

.media-body{
    width: 100%;
    float: ;
}/*float:left
width:(100% - 50px);*/

.profile-items{
    padding: 0px;
}/*padding CORRECT
list-style:none;
*/

/*.profile entry:
padding:.5em;*/

.container{
    padding: 2em;
}/* did this perfect????? */

.btn {
    border: 1px solid var(--main-link-color);
    color: var(--main-link-color);
    background: var(--light-bg);
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}
.btn-large {
    font-size: 1.3em;
    padding: 10px;
}
.img-circle {
    border-radius: 100%;
    border: 4px solid var(--light-bg);
}
.text-right {
    text-align: right;
}
.text-muted {
    color: var(--main-link-color);
}

